<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* Show a example of evaluating arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. numpy

| Data Science Tools |
|------------------- |
| Jupyter Notebook |
| Rstudio |
|Visual Studio code |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [5]:
hours = 60
minutes = 200
hr_to_min = 200 / 60
print(hr_to_min)

3.3333333333333335

## Author
Diego Perez